<h1>Add question</h1>

<p>Enter qestion: <input type="text" [(ngModel)]="question" /></p>
<p *ngFor="let ti of questionDif; let i = index">
  Enter question in {{ ti.lang }} language:
  <input
    type="text"
    name=""
    id="title{{ i }}"
    [(ngModel)]="questionDif[i].text"
  />
</p>

<table>
  <tr>
    <th>Upload option</th>
    <th>Answer</th>
  </tr>
  <ng-container
    *ngFor="let option of options; let i = index; trackBy: trackByFn"
  >
    <tr>
      <td>
        <input type="text" [(ngModel)]="options[i].option" />
      </td>
      <td>
        <input
          type="radio"
          name="answer"
          [checked]="i === last"
          (click)="setAnswer(i)"
        />
      </td>
    </tr>
  </ng-container>
</table>

<button
  class="px-4 py-2 m-3 bg-teal-500 rounded-md text-white"
  (click)="options.push({ option: '', answer: false })"
>
  add option
</button>

<button
  *ngIf="!showUpdateButton"
  (click)="submit()"
  class="px-4 py-2 bg-teal-500 rounded-md text-white"
>
  submit
</button>

<ng-container *ngIf="showUpdateButton">
  <button
    class="px-4 py-2 rounded-md text-white mx-5 bg-teal-600"
    (click)="update()"
  >
    update
  </button>
  <button class="px-4 py-2 rounded-md bg-red-600 text-white" (click)="close()">
    close
  </button>
</ng-container>

<table border="1">
  <tr>
    <th>_id</th>
    <th>question</th>
    <th>action</th>
    <th>action</th>
  </tr>

  <tr *ngFor="let q of data">
    <td>{{ q._id }}</td>
    <td>{{ q.question }}</td>
    <td><button (click)="play(q)">play</button></td>
    <td>
      <i
        (click)="delete(q._id)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i (click)="setUpdate(q)" class="text-teal-500 bi bi-pencil-square"></i>
    </td>
  </tr>
</table>

<div *ngIf="ques">
  <p>{{ ques.question }}</p>
  <p>Option :</p>
  <ng-container *ngFor="let option of ques.options">
    <p>
      {{ option.option }}
      <button (click)="result = option.answer">select</button>
    </p>
  </ng-container>
</div>

<h2 *ngIf="result !== undefined">{{ result }}</h2>
