<h2>upload frame for flames</h2>

<label for="fl">
  Select flames word
  <select id="fl" title="select flame word" [(ngModel)]="selectedFlames">
    <option *ngFor="let word of flames" [value]="word">{{ word }}</option>
  </select>
</label>
<input type="file" name="flame" id="f" (change)="addFile($event)" />
<button
  (click)="submit()"
  *ngIf="!showButton"
  class="px-4 m-3 py-2 bg-teal-500 rounded-md text-white"
>
  submit
</button>

<ng-container *ngIf="showButton">
  <button
    class="px-4 py-2 rounded-md text-white mx-5 bg-teal-600"
    (click)="update()"
  >
    update
  </button>
  <button class="px-4 py-2 rounded-md bg-red-600 text-white" (click)="close()">
    close
  </button>
</ng-container>

<table>
  <tr>
    <th>_id</th>
    <th>flames word</th>
    <th>image</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let da of data">
    <td>{{ da._id }}</td>
    <td>{{ da.flamesWord }}</td>
    <td>{{ da.imageUrl }}</td>
    <td>
      <i
        (click)="delete(da._id)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i (click)="setUpdate(da)" class="text-teal-500 bi bi-pencil-square"></i>
    </td>
  </tr>
</table>

<h2>flames</h2>
<label for="name1">
  Enter name 1 <input type="text" id="name1" [(ngModel)]="name1"
/></label>
<label for="name2">
  Enter name 2 <input type="text" id="name2" [(ngModel)]="name2"
/></label>
<button (click)="submitFlames()">ss</button>

<ng-container *ngIf="result">
  <h1>{{ result.result }}</h1>
  <img src="{{ result.flamesFrame }}" />
  <p>{{ result.name1 }}</p>
  <p>&</p>
  <p>{{ result.name2 }}</p>
</ng-container>
