<div class="container mx-auto bg-white p-10 rounded-md shadow-sm my-4">
  <h2 class="text-xl font-bold text-gray-500">Add Flames</h2>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Select flames word</span>
          </div>
          <select
            class="select select-bordered bg-gray-50 w-full"
            [(ngModel)]="selectedFlames"
          >
            <option disabled selected value="n">Pick one</option>
            <option *ngFor="let word of flames" [value]="word">
              {{ word }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload result Image
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addFile($event)"
        />
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>
  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload Tumbnail
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addTumb($event)"
        />
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
    <button
      *ngIf="!showButton"
      class="w-full bg-slate-800 text-white py-3 my-3 rounded-md"
      (click)="submit()"
    >
      Submit
    </button>
    <ng-container *ngIf="showButton">
      <button
        class="w-full bg-slate-800 text-white py-3 my-1 rounded-md"
        (click)="update()"
      >
        Update
      </button>
      <button
        class="w-full bg-red-600 text-white py-3 my-1 rounded-md"
        (click)="close()"
      >
        Close
      </button>
    </ng-container>
  </div>

  <div class="bg-white shadow rounded-sm my-2.5 overflow-x-auto">
    <table class="min-w-max w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-5 text-left">_id</th>
          <th class="py-3 px-5 text-left">Flames</th>
          <th class="py-3 px-5 text-center">action</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
        <tr
          *ngFor="let da of data; let i = index"
          class="border-b border-gray-200 hover:bg-gray-100 first-letter:uppercase"
        >
          <td class="py-3 px-6 text-left whitespace-nowrap">
            {{ da._id }}
          </td>

          <td class="py-3 px-6 text-left">
            {{ da.flamesWord }}
          </td>

          <td
            class="py-3 px-5 text-left flex gap-5 justify-center align-items-lg-center"
          >
            <i
              (click)="delete(da._id)"
              class="text-red-500 bi cursor-pointer bi-trash-fill"
            ></i>
            <i
              (click)="setUpdate(da)"
              class="text-teal-500 bi bi-pencil-square cursor-pointer"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
<h2>upload frame for flames</h2>

<label for="fl">
  Select flames word
  <select id="fl" title="select flame word" [(ngModel)]="selectedFlames">
    <option *ngFor="let word of flames" [value]="word">{{ word }}</option>
  </select>
</label>
<input type="file" name="flame" id="f" (change)="addFile($event)" />
<button
  (click)="submit()"
  *ngIf="!showButton"
  class="px-4 m-3 py-2 bg-teal-500 rounded-md text-white"
>
  submit
</button>

<ng-container *ngIf="showButton">
  <button
    class="px-4 py-2 rounded-md text-white mx-5 bg-teal-600"
    (click)="update()"
  >
    update
  </button>
  <button class="px-4 py-2 rounded-md bg-red-600 text-white" (click)="close()">
    close
  </button>
</ng-container>

<table>
  <tr>
    <th>_id</th>
    <th>flames word</th>
    <th>image</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let da of data">
    <td>{{ da._id }}</td>
    <td>{{ da.flamesWord }}</td>
    <td>{{ da.imageUrl }}</td>
    <td>
      <i
        (click)="delete(da._id)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i (click)="setUpdate(da)" class="text-teal-500 bi bi-pencil-square"></i>
    </td>
  </tr>
</table>

<h2>flames</h2>
<label for="name1">
  Enter name 1 <input type="text" id="name1" [(ngModel)]="name1"
/></label>
<label for="name2">
  Enter name 2 <input type="text" id="name2" [(ngModel)]="name2"
/></label>
<button (click)="submitFlames()">ss</button>

<ng-container *ngIf="result">
  <h1>{{ result.result }}</h1>
  <img src="{{ result.flamesFrame }}" />
  <p>{{ result.name1 }}</p>
  <p>&</p>
  <p>{{ result.name2 }}</p>
</ng-container> -->
