<div class="container mx-auto bg-white p-10 rounded-md shadow-sm my-4">
  <h2 class="text-xl font-bold text-gray-500">Add Feed</h2>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Select post language</span>
          </div>
          <select
            class="select select-bordered bg-gray-50"
            [(ngModel)]="language"
          >
            <option disabled selected value="n">Pick one</option>
            <option
              *ngFor="let lang of langg; let i = index"
              [value]="lang._id"
            >
              {{ lang.language }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Title
      </h6> -->

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Title
        </label>
        <input
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray-50 rounded text-md shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Enter title."
          [(ngModel)]="title"
        />
      </div>
    </div>

    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-10">
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Title
      </h6> -->

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Discription
        </label>
        <input
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray-50 rounded text-md shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Enter description."
          [(ngModel)]="discription"
        />
      </div>
    </div>

    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload Feed
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addFile($event)"
        />
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-0">
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
      Title
    </h6> -->

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Category
        </label>

        <select
          class="select select-bordered bg-gray-50 w-full"
          [(ngModel)]="category"
        >
          <option disabled selected value="n">Pick one</option>
          <option
            *ngFor="let cate of categoryOptions; let i = index"
            [value]="cate._id"
          >
            {{ cate.default }}
          </option>
        </select>
      </div>
    </div>

    <hr class="mt-6 border-b-1 border-blueGray-300" />

    <select class="select select-bordered bg-gray-50" [(ngModel)]="isActive">
      <option disabled selected value="n">Pick one</option>
      <option value="false">Draft</option>
      <option value="true">Publish</option>
    </select>

    <button
      *ngIf="!showUpdateButton"
      (click)="submit()"
      class="px-4 py-2 m-3 bg-slate-800 rounded-md text-white"
    >
      Submit
    </button>

    <ng-container *ngIf="showUpdateButton">
      <button
        class="px-4 py-2 rounded-md text-white m-3 bg-slate-800"
        (click)="update()"
      >
        update
      </button>
      <button
        class="px-4 py-2 rounded-md bg-red-600 text-white"
        (click)="showUpdateButton = false"
      >
        close
      </button>
    </ng-container>
  </div>

  <div class="bg-white shadow rounded-sm my-2.5 overflow-x-auto">
    <table class="min-w-max w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-5 text-left">_id</th>
          <th class="py-3 px-5 text-left">title</th>
          <th class="py-3 px-5 text-center">discription</th>
          <th class="py-3 px-5 text-center">feed</th>
          <th class="py-3 px-5 text-center">action</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
        <tr
          *ngFor="let da of data; let i = index"
          class="border-b border-gray-200 hover:bg-gray-100 first-letter:uppercase"
        >
          <td class="py-3 px-6 text-left whitespace-nowrap">
            {{ da._id }}
          </td>
          <td class="py-3 px-6 text-left first-letter:uppercase">
            {{ da.title }}
          </td>
          <td class="py-3 px-6 text-center first-letter:uppercase">
            {{ da.description }}
          </td>
          <td class="py-3 px-6 text-center">
            {{ da.imageUrl }}
          </td>

          <td
            class="py-3 px-5 text-left flex gap-5 justify-center align-items-lg-center"
          >
            <i
              (click)="delete(da._id)"
              class="text-red-500 bi cursor-pointer bi-trash-fill"
            ></i>
            <i
              (click)="setUpdate(da)"
              class="text-teal-500 bi bi-pencil-square cursor-pointer"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
