<div
  style="
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
  "
>
  <button [routerLink]="['']">Post</button>
  <button routerLink="/reels">Reels</button>
  <button routerLink="/feeds">Feeds</button>
  <button routerLink="/poll">Pull</button>
  <button routerLink="/quizzes">Quizzes</button>
  <button routerLink="/fun-quizzes">Fun Quizzes</button>
  <button routerLink="/frames">Frames</button>
  <button routerLink="/flames">Flames</button>
  <button routerLink="/friend-love-calc">Friend love calc</button>
  <button routerLink="/name-mean-fact">Name mean fact</button>
  <button routerLink="/guess">Guess</button>
  <button routerLink="/pick-kick">Pick Kick</button>
  <button routerLink="/riddles">riddles</button>
</div>

<router-outlet></router-outlet>

<app-login></app-login>
