<!-- <h3>
  select language
  <select
    name="lan"
    id="e"
    title="select language"
    [(ngModel)]="selectedLang"
    (change)="setLanguage()"
  >
    <option value="english" selected>english</option>
    <ng-container *ngFor="let lan of langg">
      <option [value]="lan">{{ lan }}</option>
    </ng-container>
  </select>
</h3>

<div style="display: flex; gap: 10rem; margin-top: 5rem">
  <ul>
    <li *ngFor="let cate of category">
      <button (click)="selectedCategory = cate._id">
        {{ cate.text ? cate.text : cate.default }}
      </button>
    </li>
  </ul>

  <app-upload [category]="selectedCategory"></app-upload>
</div>
<div>
  <h2>Add category</h2>
  <input type="text" placeholder="enter category" [(ngModel)]="cat" />
  <h3>add languages</h3>
  <ng-container *ngFor="let text of title; trackBy: trackByFn">
    <p>
      Enter category name in {{ text.lang }} language
      <input type="text" [(ngModel)]="text.text" />
    </p>
  </ng-container>
  <button (click)="submit()">submit</button>
</div> -->
