<h2>upload text and result image</h2>

<label for="fl">
  Select love or friend
  <select id="fl" title="select flame word" [(ngModel)]="selectedType">
    <option value="love">love</option>
    <option value="friend">friend</option>
  </select> </label
><br />
<img *ngIf="showUpdateButton" class="max-h-64" [src]="file" alt="" srcset="" />
<p>Upload resultImage : <input type="file" (change)="addFile($event)" /></p>
Enter min percentage: <input type="number" [(ngModel)]="min" /><br />
Enter max percentage: <input type="number" [(ngModel)]="max" /> <br />
<ng-container *ngFor="let text of textList; let i = index; trackBy: trackByFn">
  <label for="">
    Enter Quotes
    <input type="text" [(ngModel)]="textList[i]" /><br />
  </label>
</ng-container>

<button
  class="px-4 py-2 bg-teal-500 rounded-md text-white"
  (click)="textList.push(' ')"
>
  Add text
</button>

<button
  (click)="selectedType === 'love' ? submit() : submitFr()"
  *ngIf="!showUpdateButton"
  class="px-4 m-3 py-2 bg-teal-500 rounded-md text-white"
>
  submit
</button>

<ng-container *ngIf="showUpdateButton">
  <button
    class="px-4 py-2 rounded-md text-white mx-5 bg-teal-600"
    (click)="update()"
  >
    update
  </button>
  <button class="px-4 py-2 rounded-md bg-red-600 text-white" (click)="close()">
    close
  </button>
</ng-container>
<h2>Love Calculator</h2>
<label for="name1">
  Enter name 1 <input type="text" id="name1" [(ngModel)]="name1"
/></label>
<label for="name2">
  Enter name 2 <input type="text" id="name2" [(ngModel)]="name2"
/></label>
<button *ngIf="selectedType == 'love'" (click)="calculateLove()">submit</button>
<button *ngIf="selectedType == 'friend'" (click)="calculateFriendship()">
  submit
</button>

<ng-container *ngIf="result && selectedType === 'love'">
  <h1>{{ result.lovePercentage }}%</h1>
  <img src="{{ result.resultImage }}" />
  <p>{{ result.name1 }}</p>
  <p>loves</p>
  <p>{{ result.name2 }}</p>
</ng-container>

<ng-container *ngIf="result && selectedType === 'friend'">
  <h1>{{ result.friendshipPercentage }}%</h1>
  <img src="{{ result.resultImage }}" />
  <p>{{ result.name1 }}</p>
  <p>friends</p>
  <p>{{ result.name2 }}</p>
</ng-container>

<table class="table">
  <tr>
    <th>_id</th>
    <th>min</th>
    <th>max</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let fr of friendCalc">
    <td>{{ fr._id }}</td>
    <td>{{ fr.minPercentage }}</td>
    <td>{{ fr.maxPercentage }}</td>
    <td>
      <i
        (click)="delete(fr._id)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i (click)="setUpdate(fr)" class="text-teal-500 bi bi-pencil-square"></i>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>_id</th>
    <th>min</th>
    <th>max</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let lov of loveCalc">
    <td>{{ lov._id }}</td>
    <td>{{ lov.minPercentage }}</td>
    <td>{{ lov.maxPercentage }}</td>
    <td>
      <i
        (click)="delete(lov._id, true)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i
        (click)="setUpdate(lov, true)"
        class="text-teal-500 bi bi-pencil-square"
      ></i>
    </td>
  </tr>
</table>
