<div
  class="container mx-auto bg-white p-10 rounded-md shadow-sm my-4 min-h-full"
>
  <h1 class="text-xl font-bold text-gray-500">Add Poll</h1>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Select post language</span>
          </div>
          <select
            class="select select-bordered bg-gray-50"
            [(ngModel)]="language"
          >
            <option disabled selected value="n">Pick one</option>
            <option
              *ngFor="let lang of langg; let i = index"
              [value]="lang._id"
            >
              {{ lang.language }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
      Title
    </h6> -->

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Description
        </label>
        <input
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray-50 rounded text-md shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Enter Question."
          [(ngModel)]="description"
        />
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload Tumbnail
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addTumb($event)"
        />
      </div>
    </div>
  </div>

  <div class="flex px-4 lg:px-10 pt-5">
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Select Question Type
        </label>
        <div class="flex gap-5 justify-start align-middle">
          <label for="">
            <input
              type="radio"
              name="question"
              (click)="questionType = 'text'"
              value="text"
              title="Text"
            />
            Text</label
          >
          <label for="">
            <input
              type="radio"
              name="question"
              value="image"
              (click)="questionType = 'image'"
              title="Image"
            />
            Image</label
          >
          <label for="">
            <input
              type="radio"
              name="question"
              value="image"
              (click)="questionType = 'both'"
              title="Image"
            />
            Both</label
          >
        </div>
      </div>
    </div>

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Select Option Type
        </label>
        <div class="flex gap-5 justify-start align-middle">
          <label for="">
            <input
              type="radio"
              name="option"
              (click)="checkSelectedOption('text')"
              value="text"
              title="Text"
            />
            Text</label
          >
          <label for="">
            <input
              type="radio"
              name="option"
              value="image"
              (click)="checkSelectedOption('image')"
              title="Image"
            />
            Image</label
          >
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-4 mx-10 border-b-1 border-blueGray-300" />

  <div
    *ngIf="questionType === 'image' || questionType === 'both'"
    class="flex-auto px-4 lg:px-10 pt-5"
  >
    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload Question
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addQnFile($event)"
        />
      </div>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div
    *ngIf="questionType === 'text' || questionType === 'both'"
    class="flex-auto px-4 lg:px-10 pt-5"
  >
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
      Title
    </h6> -->

    <div class="w-full px-4">
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Question
        </label>
        <input
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray-50 rounded text-md shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Enter Question."
          [(ngModel)]="textQuestion"
        />
      </div>
    </div>

    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div *ngIf="selectedOption === 'image'" class="flex-auto px-4 lg:px-10 pt-5">
    <div
      *ngFor="let option of imgOptions; let i = index; trackBy: trackByFn"
      class="w-full px-4"
    >
      <div class="relative w-full mb-3">
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Upload Option {{ i + 1 }}
        </label>
        <input
          type="file"
          class="file-input file-input-bordered file-input-md w-full"
          (change)="addFile($event, i)"
        />
      </div>
    </div>

    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div *ngIf="selectedOption === 'text'" class="flex-auto px-4 lg:px-10 pt-5">
    <!-- <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
    Title
  </h6> -->

    <div class="w-full px-4">
      <div
        *ngFor="let option of options; let i = index; trackBy: trackByFn"
        class="relative w-full mb-3"
      >
        <label
          class="block first-letter:uppercase text-blueGray-600 text-md font-bold mb-2"
        >
          Option {{ i + 1 }}.
        </label>
        <input
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray-50 rounded text-md shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Enter option."
          [(ngModel)]="options[i].option"
        />
      </div>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 pt-5">
    <div class="mx-5">
      <button
        (click)="
          selectedOption === 'image' ? imgOptions.push('') : addOptions()
        "
        class="btn w-full"
      >
        Add Option
      </button>

      <select class="select select-bordered bg-gray-50" [(ngModel)]="isActive">
        <option disabled selected value="n">Pick one</option>
        <option value="false">Draft</option>
        <option value="true">Publish</option>
      </select>
      <button
        (click)="submit()"
        class="w-full bg-slate-800 text-white py-2 my-3 rounded-md"
      >
        Submit
      </button>
    </div>
    <hr class="mt-6 border-b-1 border-blueGray-300" />
  </div>

  <div class="bg-white shadow rounded-sm my-2.5 overflow-x-auto">
    <table class="min-w-max w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-5 text-left">_id</th>
          <th class="py-3 px-5 text-left">Question</th>
          <!-- <th class="py-3 px-5 text-center">action</th> -->
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
        <tr
          *ngFor="let da of polls; let i = index"
          class="border-b border-gray-200 hover:bg-gray-100 first-letter:uppercase"
        >
          <td class="py-3 px-6 text-left whitespace-nowrap">
            {{ da._id }}
          </td>
          <td class="py-3 px-6 text-center">
            {{ da.question }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
