<h1>Add Poll</h1>

<div>
  <h3>choose question type</h3>
  <label for="">
    <input
      type="radio"
      name="option"
      (click)="questionType = 'text'"
      value="text"
      title="Text"
    />
    Text</label
  >
  <label for="">
    <input
      type="radio"
      name="option"
      value="image"
      (click)="questionType = 'image'"
      title="Image"
    />
    Image</label
  >

  <ng-container *ngIf="questionType === 'text'">
    <p>
      Enter question in english : <input type="text" [(ngModel)]="question" />
    </p>
    <p *ngFor="let ti of questionDifLang; let i = index">
      Enter question in {{ ti.lang }} language:
      <input
        *ngIf="questionType === 'text'"
        type="text"
        name=""
        id="title{{ i }}"
        [(ngModel)]="questionDifLang[i].text"
      />
    </p>
  </ng-container>

  <input
    *ngIf="questionType === 'image'"
    type="file"
    (change)="addQnFile($event)"
    title="Choose question."
  />
  <h3>choose options type</h3>
  <label for="">
    <input
      type="radio"
      name="option"
      (click)="checkSelectedOption('text')"
      value="text"
      title="Text"
    />
    Text</label
  >
  <label for="">
    <input
      type="radio"
      name="option"
      value="image"
      (click)="checkSelectedOption('image')"
      title="Image"
    />
    Image</label
  >
  <ng-container *ngIf="selectedOption === 'text'">
    <div *ngFor="let option of textOptions; let i = index; trackBy: trackByFn">
      <input
        type="text"
        placeholder="Enter option"
        [(ngModel)]="textOptions[i]"
        [id]="'option' + i"
      />
    </div>
    <button (click)="addTextOption()">Add option</button>
    <button (click)="submit()">submit</button>
  </ng-container>
  <ng-container *ngIf="selectedOption === 'image'">
    <div *ngFor="let option of imgOptions; let i = index; trackBy: trackByFn">
      <input type="file" title="choess image" (change)="addFile($event, i)" />
    </div>
    <button (click)="imgOptions.push('')">Add option</button>
    <button (click)="submitImg()">submit</button>
  </ng-container>
</div>

<table border="1">
  <tr>
    <th>poll id</th>
    <th>question</th>
    <th>liked user</th>
    <th>shares</th>
    <th>comments</th>
    <th>action</th>
    <th>action</th>
    <th>action</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let poll of polls; let i = index">
    <td>{{ poll._id }}</td>
    <td>{{ poll.question }}</td>
    <td>
      <p *ngFor="let user of poll.likes">{{ user }}</p>
    </td>
    <td>{{ poll.shares }}</td>
    <th>
      <p *ngFor="let comment of poll.comments">{{ comment.text }}</p>
    </th>
    <td><button (click)="show(poll)">show poll</button></td>
    <td><button (click)="lik(poll._id)">like</button></td>
    <td><button (click)="share(poll._id)">share</button></td>
    <th>
      <input
        type="text"
        [(ngModel)]="comment[i]"
        placeholder="enter comment"
      /><button (click)="comm(poll._id, i)">comment</button>
    </th>
  </tr>
</table>

<div class="d-flex">
  <div *ngIf="data">
    <h2>{{ data.question }}</h2>
    <p *ngFor="let option of data.option">
      {{ option }} <button *ngIf="showVote" (click)="vote(option)">vote</button>
    </p>
  </div>
  <div *ngIf="resData">
    <h1>Result</h1>
    <ng-container *ngFor="let res of resData.votes">
      <h3>{{ res.option }}</h3>
      <p>{{ res.percentage }}</p>
    </ng-container>
  </div>
</div>
