<header>
  <nav>
    <div style="width: 100%;" class="other">
      <button style="float: right;" routerLink="/login">Log in</button>
    </div>
  </nav>
</header>
<!-- Hero Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="info">
        <p class="short-info">WiTalks Admin Panel</p>
        <h2 class="hero-heading">The free online photo editor built for creators</h2>
        <p class="hero-sub-heading">Find image editing tools for all your photo editing needs built into one easy-to-use
          interface.</p>
        <button class="learn-more" routerLink="/login">
          Get Started</button>
      </div>
      <div class="hero-image">
        <img src="../assets/unnamed.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Hero Section Ends -->