<h1 class="text-lg">upload frame</h1>

<img
  *ngIf="showUpdateButton"
  class="max-h-64"
  [src]="uploadedFrameUrl"
  alt=""
  srcset=""
/>

<p>Select file :<input type="file" (change)="addFile($event)" /></p>

<p>Enter frame name: <input type="text" [(ngModel)]="frameName" /></p>
<button
  *ngIf="!showUpdateButton"
  (click)="submit()"
  class="px-4 py-2 bg-teal-500 rounded-md text-white"
>
  submit
</button>

<ng-container *ngIf="showUpdateButton">
  <button
    class="px-4 py-2 rounded-md text-white mx-5 bg-teal-600"
    (click)="update()"
  >
    update
  </button>
  <button class="px-4 py-2 rounded-md bg-red-600 text-white" (click)="close()">
    close
  </button>
</ng-container>

<table border="1">
  <tr>
    <th>_id</th>
    <th>fraem name</th>
    <th>frame url</th>
    <th>likes</th>
    <th>share</th>
    <th>comments</th>
    <th>action</th>
    <th>action</th>
    <th>action</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let da of data; let i = index">
    <th>{{ da._id }}</th>
    <th>{{ da.frameName }}</th>
    <th>{{ da.frameUrl }}</th>
    <th>{{ da.likes.length }}</th>
    <th>{{ da.shares }}</th>
    <th>
      <p *ngFor="let comment of da.comments">{{ comment.text }}</p>
    </th>
    <th><button (click)="like(da._id)">like</button></th>
    <th><button (click)="share(da._id)">share</button></th>
    <th>
      <input
        type="text"
        [(ngModel)]="comments[i]"
        placeholder="enter comment"
      /><button (click)="comm(da._id, i)">comment</button>
    </th>
    <td>
      <i
        (click)="delete(da._id)"
        class="text-red-500 px-7 bi cursor-pointer bi-trash-fill"
      ></i>
      <i (click)="setUpdate(da)" class="text-teal-500 bi bi-pencil-square"></i>
    </td>
  </tr>
</table>

<img *ngIf="frame" [src]="frame.frameUrl" class="m-5" alt="" srcset="" />

<button
  class="m-5 py-2 px-5 bg-teal-600 rounded-md text-white"
  (click)="play()"
>
  play
</button>
