<p>
  Enter name fo the frame:
  <input type="text" [(ngModel)]="frameName" placeholder="enter" />
</p>
<div class="flex">
  <canvas width="500" height="500" #canvasElement></canvas>
  <img *ngIf="resIma" [src]="resIma" alt="" srcset="" />
</div>
<input type="file" (change)="handleFileInput($event)" accept="image/*" />
<button class="px-3 py-2 rounded-sm mx-3 bg-teal-200" (click)="addSquare()">
  Add Square
</button>
<button
  class="px-3 py-2 rounded-sm mx-3 bg-teal-200"
  (click)="logSquareProperties()"
>
  Log Square Properties
</button>

<button class="px-3 py-2 rounded-sm mx-3 bg-teal-200" (click)="submit()">
  submit
</button>

<table [border]="1">
  <tr>
    <th>frame id</th>
    <th>frame name</th>
    <th>frame url</th>
    <th>Uploads</th>
    <th>likes</th>
    <th>shares</th>
    <th>comment</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let frame of data; let i = index">
    <td>{{ frame._id }}</td>
    <td>{{ frame.frameName }}</td>
    <td>{{ frame.frameUrl }}</td>
    <td>
      <p *ngFor="let upload of frame.uploads">
        {{ upload.image }} <span>{{ upload.user }}</span>
      </p>
    </td>
    <td>
      <p *ngFor="let like of frame.likes">{{ like }}</p>
    </td>
    <th>{{ frame.shares }}</th>
    <th>
      <p *ngFor="let comment of frame.comments">{{ comment.text }}</p>
    </th>
    <td>
      <input type="file" name="image" id="i" (change)="addImageFile($event)" />
      <button (click)="uloadImage(frame._id)">submit</button>
    </td>
    <td><button (click)="like(frame._id)">like</button></td>
    <th><button (click)="share(frame._id)">share</button></th>
    <th>
      <input
        type="text"
        [(ngModel)]="comment[i]"
        placeholder="enter comment"
      /><button (click)="comm(frame._id, i)">comment</button>
    </th>
  </tr>
</table>
